@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title {
  @include flex-center;
  background: $color-navy;
  color: white;
  text-transform: uppercase;
}
